// // global
// // ===================================================

// // Base
// // ====

.#{$kssPrefix}-body {
    height: 100%;
    font-family: $fontDefault;
    @include fz(14);
    font-weight: normal;
    font-style: normal;
    line-height: 1.3;
    color : $normalBlack;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    @include ja {
        font-family: $fontDefaultJa;
    }
}
